practice-04-capstone/flows.json
[
  {
    "id": "tab-example",
    "type": "tab",
    "label": "Example",
    "disabled": false,
    "info": ""
  },
  {
    "id": "example-http-in",
    "type": "http in",
    "z": "tab-example",
    "name": "GET /hello",
    "url": "/hello",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["example-fn"]]
  },
  {
    "id": "example-fn",
    "type": "function",
    "z": "tab-example",
    "name": "Say hello",
    "func": "msg.payload = { message: 'Hello from Node-RED!' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["example-http-out"]]
  },
  {
    "id": "example-http-out",
    "type": "http response",
    "z": "tab-example",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 80,
    "wires": []
  },

  {
    "id": "tab-orchestration",
    "type": "tab",
    "label": "Orchestration",
    "disabled": false,
    "info": ""
  },

  {
    "id": "orch-intake",
    "type": "http in",
    "z": "tab-orchestration",
    "name": "POST /order",
    "url": "/order",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 80,
    "wires": [["orch-translator"]]
  },

  {
    "id": "orch-translator",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Message Translator (Canonical Schema)",
    "func": "// EIP: Message Translator\n// Converts web / mobile / b2b formats into canonical schema\nconst body = msg.payload;\nconst contentType = (msg.req && msg.req.headers && msg.req.headers['content-type']) || '';\n\nlet canonical;\n\nif (contentType.includes('xml') || (typeof body === 'string' && body.trim().startsWith('<'))) {\n  // B2B XML — simple extraction\n  const getString = (tag) => {\n    const m = String(body).match(new RegExp('<' + tag + '>([^<]+)</' + tag + '>'));\n    return m ? m[1] : null;\n  };\n  canonical = {\n    customerId: getString('customerId') || getString('customer_id'),\n    orderType: getString('orderType') || 'b2b',\n    currency: getString('currency') || 'USD',\n    items: [{ productId: getString('productId') || 'UNKNOWN', quantity: parseInt(getString('quantity') || '1') }]\n  };\n} else if (body.cust_id || body.itms) {\n  // Mobile format\n  canonical = {\n    customerId: body.cust_id,\n    orderType: body.ord_type || 'standard',\n    currency: body.curr || 'USD',\n    items: body.itms || []\n  };\n} else {\n  // Web format — already canonical\n  canonical = body;\n}\n\nmsg.canonical = canonical;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 80,
    "wires": [["orch-correlationid"]]
  },

  {
    "id": "orch-correlationid",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Correlation Identifier",
    "func": "// EIP: Correlation Identifier\n// Generate one correlationId for the entire order lifecycle\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst correlationId = uuidv4();\nmsg.correlationId = correlationId;\nmsg.trace = [];\nmsg.stepStart = Date.now();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 80,
    "wires": [["orch-router"]]
  },

  {
    "id": "orch-router",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Content-Based Router (orderType)",
    "property": "canonical.orderType",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "b2b", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 820,
    "y": 80,
    "wires": [["orch-call-order"], ["orch-call-order"]]
  },

  {
    "id": "orch-call-order",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Prepare Order Service call",
    "func": "msg.headers = {\n  'Content-Type': 'application/json',\n  'x-correlation-id': msg.correlationId\n};\nmsg.payload = {\n  ...msg.canonical,\n  correlationId: msg.correlationId\n};\nmsg.stepStart = Date.now();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 80,
    "wires": [["orch-order-request"]]
  },

  {
    "id": "orch-order-request",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST order-service/orders",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://order-service:3001/orders",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1060,
    "y": 160,
    "wires": [["orch-prepare-payment"]]
  },

  {
    "id": "orch-prepare-payment",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Prepare Payment call",
    "func": "msg.orderId = msg.payload.orderId;\nmsg.stepStart = Date.now();\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-correlation-id': msg.correlationId\n};\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  amount: msg.canonical ? msg.canonical.total : 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 240,
    "wires": [["orch-payment"]]
  },

  {
    "id": "orch-payment",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST payment/authorize",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://payment-service:3002/payment/authorize",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1060,
    "y": 320,
    "wires": [["orch-check-payment"]]
  },

  {
    "id": "orch-check-payment",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Payment authorized?",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "authorized", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1060,
    "y": 400,
    "wires": [["orch-payment-ok"], ["orch-payment-failed"]]
  },

  {
    "id": "orch-payment-ok",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Save payment result",
    "func": "msg.transactionId = msg.payload.transactionId;\nmsg.trace.push({ step: 'payment', status: 'success', durationMs: Date.now() - msg.stepStart });\nmsg.stepStart = Date.now();\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-correlation-id': msg.correlationId\n};\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  items: msg.canonical ? msg.canonical.items : []\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 480,
    "wires": [["orch-inventory"]]
  },

  {
    "id": "orch-payment-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Build failed response",
    "func": "msg.trace.push({ step: 'payment', status: 'rejected', durationMs: Date.now() - msg.stepStart });\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  status: 'failed',\n  trace: msg.trace\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 400,
    "wires": [["orch-response"]]
  },

  {
    "id": "orch-inventory",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST inventory/reserve",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://inventory-service:3003/inventory/reserve",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1060,
    "y": 560,
    "wires": [["orch-check-inventory"]]
  },

  {
    "id": "orch-check-inventory",
    "type": "switch",
    "z": "tab-orchestration",
    "name": "Inventory reserved?",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "reserved", "vt": "str" },
      { "t": "else" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1060,
    "y": 640,
    "wires": [["orch-inventory-ok"], ["orch-inventory-failed"]]
  },

  {
    "id": "orch-inventory-ok",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Save inventory result",
    "func": "msg.reservationId = msg.payload.reservationId;\nmsg.trace.push({ step: 'inventory', status: 'success', durationMs: Date.now() - msg.stepStart });\nmsg.stepStart = Date.now();\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-correlation-id': msg.correlationId\n};\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  type: 'order_confirmed',\n  message: 'Your order has been confirmed'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 720,
    "wires": [["orch-notification"]]
  },

  {
    "id": "orch-inventory-failed",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Inventory failed — start compensation",
    "func": "msg.trace.push({ step: 'inventory', status: 'unavailable', durationMs: Date.now() - msg.stepStart });\nmsg.stepStart = Date.now();\n// prepare refund call\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'x-correlation-id': msg.correlationId\n};\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  transactionId: msg.transactionId\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 640,
    "wires": [["comp-refund-payment"]]
  },

  {
    "id": "orch-notification",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "POST notification/send",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://notification-service:3004/notification/send",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1060,
    "y": 800,
    "wires": [["orch-build-success"]]
  },

  {
    "id": "orch-build-success",
    "type": "function",
    "z": "tab-orchestration",
    "name": "Build success response",
    "func": "msg.trace.push({ step: 'notification', status: 'success', durationMs: Date.now() - msg.stepStart });\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  status: 'completed',\n  trace: msg.trace\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 880,
    "wires": [["orch-response"]]
  },

  {
    "id": "orch-response",
    "type": "http response",
    "z": "tab-orchestration",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 800,
    "y": 880,
    "wires": []
  },

  {
    "id": "tab-error-handling",
    "type": "tab",
    "label": "Error Handling",
    "disabled": false,
    "info": ""
  },

  {
    "id": "comp-refund-payment",
    "type": "http request",
    "z": "tab-error-handling",
    "name": "POST payment/refund (compensation)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://payment-service:3002/payment/refund",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 240,
    "y": 120,
    "wires": [["comp-build-compensated"]]
  },

  {
    "id": "comp-build-compensated",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Build compensated response",
    "func": "msg.trace.push({ step: 'compensation:payment-refund', status: 'success', durationMs: Date.now() - msg.stepStart });\nmsg.payload = {\n  orderId: msg.orderId,\n  correlationId: msg.correlationId,\n  status: 'compensated',\n  trace: msg.trace\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 120,
    "wires": [["comp-response"]]
  },

  {
    "id": "comp-response",
    "type": "http response",
    "z": "tab-error-handling",
    "name": "HTTP Response",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 720,
    "y": 120,
    "wires": []
  },

  {
    "id": "eh-dlq",
    "type": "function",
    "z": "tab-error-handling",
    "name": "Dead Letter Channel",
    "func": "// EIP: Dead Letter Channel\n// Unrecoverable errors land here\nnode.warn('Dead letter: ' + JSON.stringify(msg.payload));\nmsg.payload = {\n  error: 'Unrecoverable failure',\n  correlationId: msg.correlationId || null,\n  original: msg.payload\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 260,
    "wires": [["eh-debug"]]
  },

  {
    "id": "eh-debug",
    "type": "debug",
    "z": "tab-error-handling",
    "name": "Log dead letter",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 260,
    "wires": []
  },

  {
    "id": "tab-admin",
    "type": "tab",
    "label": "Admin",
    "disabled": false,
    "info": ""
  },

  {
    "id": "admin-health-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /health",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["admin-health-fn"]]
  },
  {
    "id": "admin-health-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Health response",
    "func": "msg.payload = { status: 'ok', service: 'node-red' };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["admin-health-out"]]
  },
  {
    "id": "admin-health-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 80,
    "wires": []
  },

  {
    "id": "admin-trace-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /trace/:orderId",
    "url": "/trace/:orderId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 200,
    "wires": [["admin-trace-fn"]]
  },
  {
    "id": "admin-trace-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Trace response",
    "func": "msg.payload = { orderId: msg.req.params.orderId, info: 'Check individual service /admin/logs for trace details' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 200,
    "wires": [["admin-trace-out"]]
  },
  {
    "id": "admin-trace-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 540,
    "y": 200,
    "wires": []
  }
]